body {
  background-color: yellow;
  padding-left: 20vw;
  padding-right: 20vw;
  font-size: 1.2vw
}

.container {
  margin: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.matcha-image {
  width: 20vw;
  display: block; 
  margin: 0 auto;
}

button {
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:hover {
  background-color: #f0f0f0;
}
